<% wrap_layout :layout do %>
	<section class="article-full">
	  <header class="article-header">
	    <h2 class="article-header-text"><%= link_to(current_article.title, current_article) if defined? current_article.title %></h2>
	    <ul class="article-meta-list">
	      <li class="article-meta-entry article-meta-date"><%= current_article.date.strftime('%b %e') if defined? current_article.date %></li>
      <li class="article-meta-entry article-meta-author">By <a href="https://twitter.com/RewritesBlog">Todd (@RewriteBlog)</a></li>
	    </ul>
	  </header>
	  <% if defined? current_article.data[:image] %>
	  	<div id="hero-image">
	  		<div id="dummy"></div>
	  		<img class="hero-image-img" src="<%= current_article.data[:image][:url] %>" title="<%= current_article.data[:image][:caption] %>"  alt="<%= current_article.data[:image][:caption] %>" />
	  	</div>
	  <% end %>
	  <article class="article-body">
	    <%= cleanup_readmore(yield) %>
	  </article>
	  <footer class="article-footer">
	    <ul class="article-tags-list">
	      <% current_article.tags.each do |tag| %>
	        <li class="article-tag-item">#<%= link_to "#{tag}", tag_path(tag) %></li>
	      <% end %>
	    </ul>
	    <ul class="article-share-list">
	      <li class="article-share-item article-share-header">SHARE:</li>
	      <li class="article-share-item"><a href="https://twitter.com/intent/tweet?url=http://blog.rewrit.es<%= url_for current_article %>&via=RewriteBlog"><i class="share-icon fa fa-twitter-square"></i></a></li>
	      <li class="article-share-item"><a href="https://www.facebook.com/dialog/feed?
	  app_id=1415954245395368
	  &display=popup&caption=<%= escape_html(current_article.title) %> 
	  &link=http://blog.rewrit.es<%= url_for current_article %>
	  &redirect_uri=http://blog.rewrit.es<%= url_for current_article %>"><i class="share-icon fa fa-facebook-square"></i></a></li>
	    </ul>
	  </footer>
	</section>
<% end %>