<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% 
        set_meta_tags url: url_for(current_resource) if defined? current_resource
        set_meta_tags title: current_resource.title if defined? current_resource.title
        set_meta_tags description: strip_tags(current_resource.summary) if defined? current_resource.summary
        set_meta_tags keywords: current_resource.data[:tags] if current_resource.data[:tags]

        if current_resource.data[:image]
            set_meta_tags pull_image: data.site[:url] + current_resource.data[:image].url
        else
            set_meta_tags twitter_card: 'summary'
        end
    %>
    <%= auto_display_meta_tags %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:700|Open+Sans+Condensed:300,300italic,700" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag "normalize", "rewrite" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <header id="site-header">
      <h1 id="site-name"><a href="/">RewritesRewritesRewrites</a></h1>
    </header>

    <section id="site-body">
      <%= yield %>
    </section>

    <footer id="site-footer">
        <p id="site-license">&copy; 2015 by the author. All rights reserved.</p>
    </footer>
  </body>
</html>
